*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


.header{
    background-color:#00306e;
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left{
   color:white;
   width: 18vw;
   display: flex;
   justify-content: space-evenly
    
    
}

.headermain{
    z-index: 5;
    position: fixed;
    width: 100%;
    margin-top: -6rem
}

.left a{
    color: white;
}
.right{
    display: flex;
    width:15vw;
    justify-content: space-evenly
}
.right a{
 
    color:white;
}

.header2{
    width: 100%;
    height: 8vh;
   background-color: white;
    display: flex;
    justify-content:space-between;
   
}

.a img{height: 8vh;
    
}
.a{margin-left: 2rem;
}

.header3{
    display: flex;
   gap:1rem;
   margin-right: 2rem;
}

.list{
    display: flex;
    list-style: none;
    gap: 1rem;
    align-items: center;
   
}
.list li a{
    text-decoration: none;
    font-size: large;
    font-weight: 500;
}
.bb{width: 6rem;
height: 3rem;
margin: auto;
background-color: #00306e;
color: white;
border-radius: 9px;
}

.subul{
    color:black;
    /* text-align: center; */
    background-color:rgb(255, 255, 255);
    height:max-content;width:max-content;
    z-index: 5;
    
}
.subul li{
    padding-top:12px;
}
.subul li a{
    color:black;
}
.subul{
    display: none; position: absolute;list-style: none;
}
.list li:hover .subul {
    display:block;
}
.hvr{
    background-color: rgb(62, 62, 105);
   height:6vh;
   width:8vw;
   color:white;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 6px;
}

.hvr:hover{
    background-color: orange;
    transition-duration: 1s;
}
.subul li a:hover{
    color:red;
}
.whatandph{
    /* height:300px;width:400px;background-color: red;*/
    z-index: 7;
    position: absolute;top:80%;left:3rem;position: fixed;
}
.whatsapp,.phone{
    background-color: green;
    font-size: 3rem;border-radius: 50%;width: 50px;height: 50px;display: flex;align-items: center;
    justify-content: center;color:white;cursor: pointer;
}
.phone{
    font-size: 2rem;background-color: blue;
}





.blog_heder{
    width:100%;height:45vh;display: flex;justify-content: center;margin-top: 6rem;
}
.bimg{
    width:95%;height:45vh;margin-top: 10px;
    
    box-shadow: 3px 3px 5px 3px black;
    /* background: url('https://www.brillicaservices.com/blog_update/Images/blog%20b%20.jpg'); */
    background-size:cover;
    background-repeat: no-repeat;
}
.bimg img{
    width: 100%;
 height: 100%;
}
.blogsec{
    height: 140vh;
    width:100%;
   
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    
}
.blogsec1{
  height: 25rem;
  width: 22rem;
 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 2px 2px 2px 2px gray;
  border-radius: 20px;
  overflow: hidden;
  align-items: center;
}
.img1{
height:70%;width: 100%;
}
.img1 img{
    height: 100%;width: 100%;
}
.blogsec1 p a{
    font-size: 1rem;
}
.nmber{
    width: 100%;
    height:7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bbbtn{
    font-size: 1.5rem;height:3rem;
   width:3rem;border-radius: 50%;
}

footer{
    height:75vh;
    width:100%;
    border:2px solid black;
    background-color:#00306e
}
.upperfooter{
    height:50vh;
    width:100%;
    border:1px solid gray;
    display: flex;
    border: none;
}
.footerchild{
    width:25vw;
    height:50vh;
   color: white;
   display: flex;
   flex-direction: column;
   align-items: center;
   
}
.footerchild1{
    width:25vw;
    height:max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    
}
.footerchild1 a{
    height: 2rem;
    color: white;
    text-decoration: none;
    font-weight: 450;
}
.footerchild a{
    color:white;
    text-decoration: none;
}
.footerchild h3{
    font-weight: bolder;
    font-size: 1.4rem;
}
iframe{
    width:20vw;
}
.downfooter{
    color:white;
    text-align: center;
    height:25vh;
    background-color:#2e5b95;
}
.downfooter a{
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.last{
    border:1px solid  gray;
    color:white;
    text-align: center;
    font-size: 1.4rem;
}


























